<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.DOMAIN.trigger-setMountainTZ</string>
  <key>ProgramArguments</key>
  <array>
    <string>systemsetup</string>
    <string>-settimezone</string>
    <string>America/Denver</string>
</array>
  <key>WatchPaths</key>
  <array>
    <string>/Library/Management/Triggers/setMountainTZ</string>
  </array>
<key>StandardOutPath</key>
<string>/var/log/DOMAIN/trigger-changeTimeZone.log</string>
</dict>
</plist>
